// Fonts
$font-base: 'Yuji Syuku', serif;
$font-secondary: 'Rubik', sans-serif;

// Colors
$color-base: black;
$color-white: #FFFFFF;
$color-base-light: rgba(153, 205, 50, 0.507); 
$color-header-bg: rgba(128, 128, 128, 0.479);

//Main margin
$margin-top-main-tag: 150px;